html,body{
    margin:0;
    border:0;
    height:100%;
}

body{
    /*-------HAMBURGER ANIMATION-------*/
    .ats-hamburger-menu-content{
        width:0;
        height:0;
        position: fixed;
        overflow:hidden;
    }
    .ats-background-menu{
        background-color: white;
        height: 80px;
        width: 85px;
        position: absolute;
        border-radius: 100%;
        transform: scale(0);
        margin: 0;
        transition: .50s ease-in-out;
    }

    .ats-header-hamburger{
    width: 35px;
    height: 45px;
    position: relative;
    margin: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }

    .ats-header-hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .50s ease-in-out;
    -moz-transition: .50s ease-in-out;
    -o-transition: .50s ease-in-out;
    transition: .50s ease-in-out;
    }


    /* Ham & cheese css */

    .ats-header-hamburger span:nth-child(1) {
    top: 0px;
    }

    .ats-header-hamburger span:nth-child(2),.ats-header-hamburger span:nth-child(3) {
    top: 12px;
    }

    .ats-header-hamburger span:nth-child(4) {
    top: 24px;
    }

    .ats-header-hamburger.ats-show span:nth-child(1),.ats-header-hamburger.ats-show span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
    }

    .ats-header-hamburger.ats-show span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }

    .ats-header-hamburger.ats-show span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }

    /*-------HAMBURGER ANIMATION-------*/



    .ats-header-container{
        position:fixed;
    }            
    .ats-header{
        color:black;
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-top: 15px;
        transition: .5s ease-in-out;
        opacity: 1;
    }
    .ats-body{
        height: 100%; 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: .50s ease-in-out;
        
        .ats-introduction{
            width: 50%;
            color: white;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
            transition: .50s ease-in-out; 
        }
    }

    .background-desktop{
        background-image: url("img/desktop.jpeg");
    }
    .background-netpark{
        background-image: url("img/netpark.jpg");
    }



    
    .parallax{
        .parallax-overlay{
            width: 100%;
            background-color: black;
            height: 100%;
            opacity: 0.5;
        }
    }
    .parallax.desktop {
        /* The image used */
            background-image: url("img/desktop.jpeg");
        /* Full height */
        height: 100%; 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
    }
    /*-------UTILITIES-------*/
    .ats-hidden{
        display:none;
    }
    .ats-invisible{
        opacity:0 !important;
    }
    .ats-show span{
        display:block;
        background-color:black;
    }
    .ats-ham-show{
        width: 50%;
        height: 100%;
        border-radius: 0;
        margin: 0;
        border: 0;
        opacity: 1;
        z-index: 2;
        min-width: 320px;
    }
    .ats-cheese-show{
        transform: scale(50);
    }
    .ats-overlay{
        width:100%;
        height:100%;
        background-color:black;
        opacity:0.75;
        position:fixed;
    }
    /*-------UTILITIES-------*/
}
