html, body {
  margin: 0;
  border: 0;
  height: 100%; }

body {
  /*-------HAMBURGER ANIMATION-------*/
  /* Ham & cheese css */
  /*-------HAMBURGER ANIMATION-------*/
  /*-------UTILITIES-------*/
  /*-------UTILITIES-------*/ }
  body .ats-hamburger-menu-content {
    width: 0;
    height: 0;
    position: fixed;
    overflow: hidden; }
  body .ats-background-menu {
    background-color: white;
    height: 80px;
    width: 85px;
    position: absolute;
    border-radius: 100%;
    transform: scale(0);
    margin: 0;
    transition: .50s ease-in-out; }
  body .ats-header-hamburger {
    width: 35px;
    height: 45px;
    position: relative;
    margin: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
  body .ats-header-hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .50s ease-in-out;
    -moz-transition: .50s ease-in-out;
    -o-transition: .50s ease-in-out;
    transition: .50s ease-in-out; }
  body .ats-header-hamburger span:nth-child(1) {
    top: 0px; }
  body .ats-header-hamburger span:nth-child(2), body .ats-header-hamburger span:nth-child(3) {
    top: 12px; }
  body .ats-header-hamburger span:nth-child(4) {
    top: 24px; }
  body .ats-header-hamburger.ats-show span:nth-child(1), body .ats-header-hamburger.ats-show span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%; }
  body .ats-header-hamburger.ats-show span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  body .ats-header-hamburger.ats-show span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  body .ats-header-container {
    position: fixed; }
  body .ats-header {
    color: black;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 15px;
    transition: .5s ease-in-out;
    opacity: 1; }
  body .ats-body {
    background-image: url("img/desktop.jpeg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .50s ease-in-out; }
    body .ats-body .ats-introduction {
      width: 50%;
      color: white;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: .50s ease-in-out; }
  body .parallax .parallax-overlay {
    width: 100%;
    background-color: black;
    height: 100%;
    opacity: 0.5; }
  body .parallax.desktop {
    /* The image used */
    background-image: url("img/desktop.jpeg");
    /* Full height */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed; }
  body .ats-hidden {
    display: none; }
  body .ats-invisible {
    opacity: 0 !important; }
  body .ats-show span {
    display: block;
    background-color: black; }
  body .ats-ham-show {
    width: 50%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    border: 0;
    opacity: 1;
    z-index: 2;
    min-width: 320px; }
  body .ats-cheese-show {
    transform: scale(35); }
  body .ats-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
    position: fixed; }
